@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap'); //Noto Sans KR

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  -webkit-text-size-adjust: none;
  -webkit-font-feature-settings: "kern"1;
}

html,
body,
div,
span,
a,
img,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
address,
pre,
cite,
iframe,
form,
fieldset,
input,
textarea,
select,
label,
table,
caption,
th,
tr,
td,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

legend {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: inherit;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  background: none;
  border: none;
}

select,
button {
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table,
th,
td {
  border-collapse: collapse;
}

//접근성을 고려한 화면 감춤
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

//화면에 표시되는 caption 요소의 공간 제거를 위한 설정
caption.a11y-hidden {
  position: static;
}

//font-size
html {
  font-size: 10px;

  @media(max-width:640px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
}


/*--main_Page--*/
@-webkit-keyframes dlogo {
  100% {
    stroke-dashoffset: 1000;
  }
}

@keyframes dlogo {
  100% {
    stroke-dashoffset: 1000;
  }
}

.logo {
  width: 10rem;
  height: 7rem;
  margin: 0 auto;
  text-align: center;

  /*main_logo*/
  svg {
    width: 7rem;
    display: block;
    margin: 0 auto;
    padding: 0 0 0 2rem;
  }

  .mlogo,
  #d1,
  #d2,
  #d3,
  #m1 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    stroke-width: 18;
  }

  #d1 {
    -webkit-animation: dlogo 1s ease-in-out forwards;
    animation: dlogo 1s ease-in-out forwards;
  }

  #d2 {
    -webkit-animation: dlogo 1.2s ease-in-out forwards .6s;
    animation: dlogo 1.2s ease-in-out forwards .6s;
  }

  #d3 {
    -webkit-animation: dlogo 1.2s ease-in-out forwards 1s;
    animation: dlogo 1.2s ease-in-out forwards 1s;
  }

  #m1 {
    stroke-width: 330;
    -webkit-animation: dlogo 1.3s ease-in-out forwards 1.5s;
    animation: dlogo 1.3s ease-in-out forwards 1.5s;
  }

  .p01 {
    font-family: "BigJohn", "Noto Sans KR", sans-serif;
    font-size: 2rem;
    margin: -2.5rem 0 0.5rem 0;
  }

  .p02 {
    color: rgab(#222B2F, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

.wrap {
  background: #F5F5F5;
  border: 1px solid #eee;
  border-radius: 1.5rem;
  margin: 4rem auto;
  width: 106rem;
  max-width: calc(100% - 6rem);
  padding: 3rem;
  box-sizing: border-box;
}


header {
  h2 {
    text-align: center;
    font-weight: 700;

    font-size: 2.4rem;
    color: #000;

    width: 65rem;
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem 0 3.7rem 0;
    border-bottom: 1px solid #ddd;
  }

  nav {
    ul {
      display: flex;
      justify-content: center;

      li {
        padding: 1.8rem 0;
        margin: 0 0.2rem;

        button {
          padding: 1rem 3rem;
          font-size: 1.6rem;
          color: #999;
          border-radius: 0.4rem;
          transition: color 0.3s, background-color 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.4rem;
          flex-wrap: wrap;

          span {
            display: inline-block;
            border-radius: 1.6rem;
            background: #e5e5e5;
            padding: 0.4rem 1.2rem;
            font-size: 0.8em;
            vertical-align: 1px;
            transition: background-color 0.3s;
          }

          &:hover {
            color: #000;
            background: rgba(255, 255, 255, 0.7);
          }

          &.on {
            color: #000;
            font-weight: bold;
            background: #FDD65F;

            span {
              background: rgba(255, 255, 255, 1);
            }

          }
        }

      }
    }
  }
}

main {
  padding: 3rem;
  background-color: #fff;

  ul {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 2rem*3)/4));
    grid-gap: 2rem;
    box-sizing: border-box;
    border-radius: 1.5rem;


    @media(max-width:1200px) {
      grid-template-columns: repeat(3, calc((100% - 2rem*2)/3));
    }

    @media(max-width:640px) {
      grid-template-columns: repeat(2, calc((100% - 2rem)/2));
    }


    li {
      border: 1px solid #ddd;
      background-color: #fff;

      box-sizing: border-box;
      box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      transition: transform 0.3s;

      .thumb {
        border: 1px solid #eee;
        display: block;
        border-radius: 1rem;
        margin: 2rem 2rem 0 2rem;
        width: calc(100% - 4rem);
        box-sizing: border-box;

        // 이미지의 크기가 미세하게 달라 비율유지를 위한 CSS 적용
        height: 0;
        overflow: hidden;
        padding-top: calc(1.2 * 100%);
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      h4 {
        font-weight: bold;
        letter-spacing: -0.2px;
        display: block;
        padding: 1.1rem 2rem 1.2rem 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      dl {
        margin: 0 2rem;

        div {
          margin-bottom: 0.4rem;

          dt {
            color: #828282;
            font-size: 1.3rem;
            width: 5rem;
            float: left;
          }

          dd {
            color: #000;
            font-size: 1.3rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          dd:not(.contents) {
            width: calc(100% - 5rem);
            white-space: nowrap;
          }

          .contents {
            margin-top: 0.4rem;
            width: 100%;
            height: 3.2em;
            line-height: 1.6;
            letter-spacing: -0.2px;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; //왜 컴파일될때 같이.. 되질 않는걸까.
          }
        }
      }
    }

  }

  .btn {
    border-top: 1px solid #ddd;
    background: #F2F2F2;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-top: 1.8rem;
    border-radius: 0 0 1rem 1rem;
    transition: background-color 0.3s;
  }
}

main ul li:hover {
  @media(min-width:480px) {
    transform: scale(1.08);
  }

  .btn {
    background: #FDD65F;
  }
}

footer {
  background: #F2F2F2;
  padding: 3rem;
  text-align: center;

  p+p {
    font-size: 0.9em;
    color: #666;
  }
}

@media(max-width:640px) {
  .wrap {
    margin: 0 auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    padding: 1.5rem;
  }

  header h2 {
    padding-bottom: 2rem;
  }

  header nav ul li a {
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 0.8em;
  }

  main ul {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  footer {
    font-size: 0.8em;
    background-color: #fff;
  }

}

main section {
  position: relative;
}

.loading {
  color: #FDD65F;
  font-weight: bold;
  margin: 2rem auto;
  text-align: center;

  img {
    width: 6rem;
    display: block;
    margin: 0 auto;
  }
}