@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  -webkit-text-size-adjust: none;
  -webkit-font-feature-settings: "kern" 1;
}

html, body, div, span, a, img, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, iframe, form, fieldset, input, textarea, select, label, table, caption, th, tr, td, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

legend {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: inherit;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

button, input[type="submit"], input[type="button"] {
  cursor: pointer;
  background: none;
  border: none;
}

select, button {
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table, th, td {
  border-collapse: collapse;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

caption.a11y-hidden {
  position: static;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  font-family: 'Noto Sans KR', sans-serif;
}

/*--main_Page--*/

@keyframes dlogo {
  100% {
    stroke-dashoffset: 1000;
  }
}

.logo {
  width: 100px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  /*main_logo*/
}

.logo svg {
  width: 70px;
  display: block;
  margin: 0 auto;
  padding: 0 0 0 2rem;
}

.logo .mlogo, .logo #d1, .logo #d2, .logo #d3, .logo #m1 {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  stroke-width: 18;
}

.logo #d1 {
  animation: dlogo 1s ease-in-out forwards;
}

.logo #d2 {
  animation: dlogo 1.2s ease-in-out forwards .6s;
}

.logo #d3 {
  animation: dlogo 1.2s ease-in-out forwards 1s;
}

.logo #m1 {
  stroke-width: 330;
  animation: dlogo 1.3s ease-in-out forwards 1.5s;
}

.logo .p01 {
  font-family: "BigJohn", "Noto Sans KR", sans-serif;
  font-size: 2rem;
  margin: -2.5rem 0 5px 0;
}

.logo .p02 {
  color: rgab(#222B2F, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.wrap {
  background: #F5F5F5;
  border: 1px solid #eee;
  border-radius: 15px;
  margin: 40px auto;
  width: 1060px;
  max-width: calc(100% - 60px);
  padding: 30px;
  box-sizing: border-box;
}

header h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  width: 650px;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 0 37px 0;
  border-bottom: 1px solid #ddd;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  padding: 18px 0;
  margin: 0 2px;
}

header nav ul li button {
  padding: 10px 30px;
  font-size: 16px;
  color: #999;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}

header nav ul li button span {
  display: inline-block;
  border-radius: 16px;
  background: #e5e5e5;
  padding: 4px 12px;
  margin-left: 8px;
  font-size: 0.8em;
  vertical-align: 1px;
  transition: background-color 0.3s;
}

header nav ul li button:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.7);
}

header nav ul li.on button {
  color: #000;
  font-weight: bold;
  background: #FDD65F;
}

header nav ul li.on button span {
  background: white;
}

main ul {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 2rem*3)/4));
  grid-gap: 2rem;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 30px;
  background-color: #fff;
}

@media (max-width: 1200px) {
  main ul {
    grid-template-columns: repeat(3, calc((100% - 2rem*2)/3));
  }
}

@media (max-width: 900px) {
  main ul {
    grid-template-columns: repeat(2, calc((100% - 2rem)/2));
  }
}

@media (max-width: 460px) {
  main ul {
    grid-template-columns: repeat(1, 100%);
  }
}

main ul li {
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 24px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s;
}

main ul li .thumb {
  border: 1px solid #eee;
  display: block;
  border-radius: 10px;
  margin: 20px 20px 0 20px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  height: 0;
  overflow: hidden;
  padding-top: calc( 1.2 * 100%);
  position: relative;
}

main ul li .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main ul li h4 {
  font-weight: bold;
  letter-spacing: -0.2px;
  display: block;
  padding: 11px 20px 12px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main ul li dl {
  margin: 0 20px;
}

main ul li dl div {
  margin-bottom: 4px;
}

main ul li dl div dt {
  color: #828282;
  font-size: 13px;
  width: 50px;
  float: left;
}

main ul li dl div dd {
  color: #000;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

main ul li dl div dd:not(.contents) {
  width: calc(100% - 50px);
  white-space: nowrap;
}

main ul li dl div .contents {
  margin-top: 4px;
  width: 100%;
  height: 3.2em;
  line-height: 1.6;
  letter-spacing: -0.2px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

main .btn {
  border-top: 1px solid #ddd;
  background: #F2F2F2;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 18px;
  border-radius: 0 0 10px 10px;
  transition: background-color 0.3s;
}

main ul li:hover {
  transform: scale(1.08);
}

main ul li:hover .btn {
  background: #FDD65F;
}

footer {
  background: #F2F2F2;
  padding: 30px;
  text-align: center;
}

footer p + p {
  font-size: 0.9em;
  color: #666;
}

@media (max-width: 900px) {
  .wrap {
    margin: 0 auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    padding: 15px;
  }
  header h2 {
    padding-bottom: 20px;
  }
  header nav ul li a {
    padding: 10px 15px;
    text-align: center;
    font-size: 0.8em;
  }
  main ul {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  footer {
    font-size: 0.8em;
    background-color: #fff;
  }
}
